

.homebutton{
    margin-left: 10%;
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto';
    color: #414040;

}
.homebutton:hover{
    filter: opacity(50%) ;
}

.profilebutton{
    margin-left: 5%;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Roboto';
    background-color: rgba(0, 0, 0, 0);
    color: #616161;
}
.profilebutton:hover{
    filter: opacity(50%);
}

.button{
    margin-left:55%;
    font-family: 'Roboto';
}

.nav-div-home{
    margin-top: 5%;
    font-weight: lighter;
    font-family: Arial;
    font-size: 40px;
    color: #616161;
    margin-left: 10%
}
hr{
    color: #c5c5c56e;
    margin-left: 10%;
    margin-top: 25px;
}