html { 
    background: url(./assets/background_tam3.png) no-repeat center center fixed;
}

textarea{
    width: 100px;
    height: 100px;
    line-height: 24px;
}

input{
    border-radius: 8px;
    height: 40px;
    font: 17px Roboto;
    padding-left: 15px;
    border: 2px solid #c5c5c5;
    color: #4b4b4b;
    font-weight: bold;
}

button{
    cursor: pointer;
}

.button{
    background: #454545;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    text-align:center;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    width: 90px;
    transition: filter 0.1s;
    border: 0px;
    border-radius: 8px;
    
}

.button:hover{
    filter: opacity(90%) 
}
.homelink{
    background: #ffffff79;
    color: #444444;
    font-weight: 25''0;
    display: inline-block;
    line-height: 40px;
    width: 104px;
    margin-left:1%;

}