.loginContainer{
    max-width: 700px;
    width: 100%;
    height: 550px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 37px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(94, 94, 94, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer .content{
    width: 80%;
}

.logoImage{
    width: 80%;
    height: 80%;
}

input{
    margin: 0 0 50px 60px;
    width: 70%;
}

.button{
    margin-left: 60px;
    margin-top: 10px;
}

html { 
    background: url(../../assets/background_tam3.png) no-repeat center center fixed;
}

hr{
    color: #c5c5c56e;
    margin-left: 60px;
    width: 72%;
    margin-top: 25px;
}
p{
    margin-top: -5px;
    margin-left: 60px;
    color: #7c7c7c;
    font-weight: bold;
    font-size: 12px;
}

button{
    background: #ffffff79;
    color: #444444;
    font-weight: 25''0;
    display: inline-block;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    width: 120px;
    transition: filter 0.1s;
    border: 0px;
    border-radius: 8px;
}
section{
    display: flex;
}
section button{
    margin-left: 24%;
}

button:hover{
    filter: contrast();
}
